<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Profile</title>
		<link th:href="@{style.css}" rel="stylesheet" />
	</head>
	<body>
		<div id="container">
			<div id="cover">
				<h2>Edit user details</h2>
                <hr>
                <div th:if="${errorMessage != null}" th:utext="${errorMessage}" class="error">...</div>
			</div>
			
            <form id="edit-form" action="editUser" method="post">
                <input type="text" th:value="${UserFirstName}" name="firstName" required>
                <input type="text" th:value="${UserLastName}" name="lastName" required>
        
                <a href="#" onclick="document.getElementById('edit-form').submit()"><div class = "button"><h3>Edit details</h3></div></a>
                <a th:href="@{/profile}"><div class = "button"><h3>Cancel</h3></div></a>
            </form>
		</div>
	</body>
</html>
